.gpt__features{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.gpt__features-heading{
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-right: 5rem;
    text-align: left;
}
.gpt__features--container{
    flex: 1.5;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.gpt__features-heading p{
    color: #fff;
    margin-top: 5rem;
}
.gpt__features--container .gpt__features-container{
    display: flex;
    gap: 2rem;
}
.gpt__features--container .gpt__title-bar{
    width: 1rem;
    height: .5rem;
}

@media screen and (max-width: 1050px) {
    .gpt__features{
        display: flex;
        flex-direction: column;
    }
    .gpt__features--container .gpt__features-container{
        display: flex;
        flex-direction: column;
    }
    .gpt__features-heading{
        margin-bottom: 3rem;

    }
    .gpt__features-heading h1{
        font-size: 32px;
        width: 100%;
        flex: 2;
        word-spacing: 3px;
        line-height: 35px;
    }
    
}